body {
    font-family: 'Noto Sans', sans-serif;
    background-color: whitesmoke;
    color: #001f3f;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Robboto Mono', monospace;
}

.container {
    max-width: 840px;
    margin: 0 auto;
}

.home-container {
    background-position: center;
    height: 80vh;
    position: relative;
    background-color: whitesmoke;
}

@media only screen and (max-width: 37.5em) {
    .home-container {
        height: unset;
        min-height: unset;
    }
}

.container>div {
    margin: 20px auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    ;
}

.navigation-bar {
    background-color: #001f3f;
    overflow: hidden;
    position: relative;
}

.nav-list {
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 2em;
}

.nav-link {
    color: white;
    position: relative;
    text-decoration: none;
    padding: 3em;
    font-size: larger;
    font-family: 'Noto Sans', sans-serif;
}

.intro {
    text-align: center;
    padding-top: 1em;
}

.name-animate {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3.5em;
    font-weight: 200;
    margin: 1em;
}

.portfolio-blurb {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5em;
    font-weight: 200;
    margin: 1em;
}

.intro h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
    font-weight: 200;
    margin: 1em;
    padding-left: 25%;
    padding-right: 25%;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.i-am,
.i-like {
    text-align: center;
    text-decoration: none;
}

.about-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

.project-heading {
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-img {
    justify-self: center;
    padding: 4%;
}

@media (max-width: 650px) {
    .project-grid {
        grid-template-columns: 100%;
    }
}

.links-and-contact {
    display: grid;
    grid-template-columns: 30% 70%;
}

.links {
    justify-self: center;
}

.link-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 650px) {
    .links-and-contact {
        grid-template-columns: 100%;
    }
}

.profile-picture {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
}

.profile-picture:hover {
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}

.project-image {
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
}

.project-image:hover {
    filter: brightness(.75);
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}

.project-image-wrapper {
    justify-self: center;
    padding: 4%;
    position: relative;
}

.project-image-wrapper:hover>h4 {
    visibility: visible;
}

.project-image-wrapper>h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .2s;
}

form input,
textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}

form {
    width: 250px;
    margin: 0 auto;
}

form input[type="submit"] {
    width: 250px;
}

.submit-button-wrapper {
    margin: 20px 0;
}
